extends layout

block content


  form.form(action="", method="get") 
    h1 login
      br
      br
      div
        
        input#email(type="email", name="Email", placeholder="Email")
        br
        input#password(type="password", name="", placeholder="Password")
        br
        br

        button.btn(type="submit") Entrar
        br
        br

        a(href="http://", target="_blank", rel="noopener noreferrer") Recuperar senha?
        br
        a(href="http://", target="_blank", rel="noopener noreferrer") Cadastre-se aqui.
        br
        br

        div.flex-container 
          .flex-item 
            a.linkdin.in(href="http://", target="_blank", rel="noopener noreferrer")
            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACkUlEQVRoge2av2sUQRTHPxoj\
              GNSYLj8KK9FCq4SA9lZ3xEptLCxsbCUmIGJjOsVG/wJbkXSCYGyiTU7QSkUkRcSAIiHxJDlRcxbzNh57mc2b2d3sgPOFYe6+893d77t5Mzu7cxAREeGLOjAH/ADaFZem\
              eKm5BjETgHlbua0Noi4HtIBJYMj1VygBQ8B1jKc2yp55LuLJ8nx5YwrjbU4jbop4sExHnhjEePuuESe5GCq29be3AiOlwDWQ08AT4AuwDMwCJ4s2VRRsqVUHftM9HW4Ao\
              7vmziH1bcI3ws8AR4CDmDm9DTwrxqMKuQNZE76vgzss3Fpedw7IPdhfS30T6McEcU24d7mslQRbj4wC63SPkRYwtmvuCkgtgGPAQ2AJ+Ew1s1YhgYSA3GPkJd1plZR\
              5paYXuAg8Bj5h0nIVMyPeBU64xZQNW4/stLzWaN7v0P4LuAfs8/DnHEgWr/kR3gJXgKPAfuAQcAZ4APwUzSz2bKk0kA1gE7iVYRBgHPgq55h29KcW5gnkPHCh43tPxvXP\
              yjlWMfcrrQ+1ME8gYJY194FvolkG7mBSK42nornq4MPLsI23afowK4Ok/U/H5wZwIKW/LG2PHHx4GbbxNs0N4T8ApzCz0jiwKPxUSn9c+I8OPrwM23ibpiH8RIo/J/xCiu/n3\
              zjR+vAybONtmhXhB1L8gPArKX6P8JsOPrwM23jXY/Nebwv/7TN7sIiBhIYYSGiIgYSGrCcxGzR3VdWdt4BjtuDSIy8y2uYdND7n9YJ6LVMR1EuUptQhbLmlMSJ110bPdoE0pL\
              5Umh1/JJ5eacQ1TNe1MA88wyWZcsEw5mVE8pZFvU2dbBeEWNTb0wlqmN3TZHO0yuL9h4GIiAiDv5bJt4RlqbJXAAAAAElFTkSuQmCC")

          .flex-item 
            a(href="http://", target="_blank", rel="noopener noreferrer") 
              img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAExUlEQVRoge2abWjXVRTHP3+XfyhbNR2CT1\
             m52WgQFQxBiI0odUlmJg18FaUj8UWvsnwTCUYFQUFFEBFk2IO9qJCwMLSRGmmagx4Ws8BSbBs+tbXqn9u/F+f8und3v4f7e/jnm33hx+F/fueeh9+599xz7wZTmEJNUCpQ15XA7UA70\
             Ao0A7OVDzACDAD9wHdAD7Bf+ZccJaAT2An8BVRTPn8C7wIrKPajpsJaoNdy6iJwANgGrAFuAhqA6fo0IJlaAzwNHNQxwfhjwH3/ZwBNwB7LgRPAY8DcDLrmAZuBXyx9nwA3FOJpDNYBv\
             6vBAWA98rXzogx0A0Oq+wLQVYDeSSghUyb4atuRqVI0ZgI7LDtbi1ReAl5RxX8DDxWpPALdQEVtvlSU0iATI8DyopR6oBP4A8/MJJW8dUiqK8Aq4NOczi1C9peZmEp3ATiDLPghR74T+Ah\
             Zh11ImU+NJszCzjOdGoAnmViZop5bQsZ367vzZKxmQYndnmWwog04iXH0NLAbyfIO5Avvw0yhsEDAFIDdaR1YiymxWatTCzCsenqApTGy3xAfyCxMab7X14ESZsde7zsoRMcR1fE2cFmCfF\
             IgAI+ozFE825lOzI6ddbNbZumYEfK+EegA7tTnOMmBlIFfVc6reu5U4c2+XofgzRgdW4huMOMCAXhC5d5JcqAe6Ugvkq13CtCvBm92+F3KryAN5h7nWZSgdwEwBowCV8QJBtPqQErHbZQ\
             xXUCd8+6wvtuUQ/9XqmOZzZzmCLUr3ZfD0DVKzyNfL0AZuA34B5l6WbFXaYfNdANpVXo0h6F6pcMOf7baGyTfqfCI0lab6QayWOmPOQwFpbHq8IMjrxtgWvQpXWwz3UAalZ7OaayW+E1po\
             810Nyr7osAHq4E3HJ77cVw0A2cj3i1HCkIcgozW20w3kKhpEYUy6VuYupgxP3uMD3ybsLu7gYyokRlI1fHFh0zukMed3/1I++5iDnI9NIS080kIXWtuIINIIPNJF0gFOJcgMxYhc6tS3wIz\
             T+mAzXTn83GlzZ5Ki8CNSvtipQwC336ymW5GeoGVyDnigxTOtACPO7xzwGvW71mEd9MrlPpmZInS3jihlchi+tJT6QNEn/b6HdmWGNkqcI+nzaBFmdABuxn5HGnIliBz8VSC0j7gOYfXgBx\
             Po3AGeD2E/3WCLZC124acKL9IEn4fiXibh+IwNBGfkR8y6gVzo/Oej/BdmMP+1RmM1SqQq5B1VwXucF+G7cKfAd8iQWzIaLQW2Ih01scwHXAiVmGysjClwVpkZD7S1lSRM1MqBNdBe0nun2\
             wUHcg0pAgFN/WpcR3mgs7dI+JQdCBbMLNjQcqx/2E10jONI3PUB0UG8jDS2owje1YubFUHxoAHPeSLCmQDEkAVeMpzTCJexATzLPH3XXkDmQ48gwni+Qz+xuJRS/lhxOEw5AnkeuQGp6q2C\
             suEi/sxm9Iokqk5jkyWQOYCL2Aus88ifzStKRYCuzDN3ijwMnKVVEe6QNqAV5l487gLuLZ27k/G3cAhy4Eq0hB+THwgg8i91gln7CHVecnQDryF2XPStPHDyN9fOsiJpOt+H/ToU0b+hWM\
             pcny93JEbQ9r+75FD0X59KgX4MIUp1Ar/AvMwjImqcry6AAAAAElFTkSuQmCC")
          
          .flex-item 
            a(href="http://", target="_blank", rel="noopener noreferrer") 
              img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAEJklEQVRoge3ZS2heRRQH8J8xIalp\
              ah82VolWqa9INYIKaqoixUerBRFB8LURxSeRom4VN+JGLBFcuXHlRtGFz6ogqPjoopHWapoarVVbkJpYm/pI/FzM/ezNzfeY+73SRf5wyM29M+ec/8yZmTPnYwHHFo5roK5luB\
              qDOB9r0Ivu5PthHMB3+Bof4yNMNNCHmtGJO/AuplHIKdN4G7cnulqORdiMnyKcjZV9eBRdrSKxAWMNJJCV3bi+mQQ6saWJBLLysjDzDcXJ2NZCEkX5QtgwGoIzhOluNYmijCY\
              +1IWV+GYeSRRlDKtqJdFlfsKpUpjVtEW/eAw4n5XhvCQ2VFH4hBB2l+BJfF+Hc7vwOAaE7OC5Ku2viyWxSPVzoi/TpyshdATvYwjrcLaQonTjnOTdg3gDh/AIjs/oGqhie1RkiG\
              2uoqig/OnbEWOgSttTIuwPVVPeKS7taPhBlcKqCPs/ysxKW0bJrTg1wtjqOp2thDURbfpwS/pFlsjdkcYujGxXCy6KbHdX+p80kWVYH6lkbWS7WjAQ2e5aLCn14WZx2+WksCCbhX7\
              8HenLpmKn9IysizT0En6p39+y2IXXItteWXxIE+mP7PxKrEd14NXIdueVejmq+lT+g/a63ayOcyN8KQgJLWbPyPIIA5PCPbvZmIpst6L4kB7dnoiOPULlpZDDqVpwYup5WkhnYKn\
              ZlZ//fU4TKTa4Br8lnSeEdKRlBYEEO1L+tDvqcNGf5UKxomQ5a0IY6c+wHXvwq7BD7UnJbc3xfRaGlV8XhxO/CjhY7JBm9K2QoX6IESE1Hxdm5/dEJh0l3Ey0CeHVg8WJrBRSo9OFQ\
              /MGYbH3Mzu0xhMinwsVwTOFMOtNKVua/L1XqHI0A8OJ/ilh0I4kz/vxA/ZiZ0JkvJSCp8Vfhv4Qf4DmwX34N4cfT5VSsj6HgoIwSvdoTP24E8/mJFEQImYOTsBfORUV8KmQ82Rv\
              ejHoFgZjTw12/5S6F2VH8x2ly5V3Jp2ewUllnDogXHM/ERbhXmF3mUy+r3B0wV6Aq4QRXRzDuATewo3lPm5SfssbFO7g+8u0yYbdY0KFsoje5N1URP8Y2ViJZZvw+0WpjiPJ90uFrbg\
              SicEKNgYbQGa3uZfCORiqoKA4lWuFMDwkrKuDQihtxU3VDOD+Ook8FGFDB74qo+DNGAURaKtgo5pslyMDvwIzJZTMaNz58UANJGZwWV5DL5RRNiEU1vpExGkFnFUDkS21GOrABzkN5Tl\
              LOnLqfk++AuAsLJEvlvMiVu9OIc+rC6uFn5Pni8gOnFYXgxR6hJO01US2asBMZNEhpNildrNGE5nB85pc6LgYX5ZxIC9K6RjB5Q3xNALtwhac/h1lXw16fk71H8PDWlNumoM2IW15XYV\
              MtAI2JX03qu9MWsACmoX/ALeEN4NrGxnlAAAAAElFTkSuQmCC")





           

              

        



    



              
                


       

          


      
        


 






